{% extends 'TonyMainBundle::base.html.twig' %}

{% block title %}Co.Grade->Listing->{{ company.getName }}{% endblock %}
{% block content %}

    <h2><a href="http://{{ company.getUrl }}" target="_blank"> {{ company.getName }}</a></h2>
    <div class="row col-sm-4">
    <img src="{{ asset(['bundles/tonymain/images/', company.getImage]|join) }}"
         alt="{{ company.getName }} image not found" class="img-rounded" />
    </div>

    <div class="row col-sm-7">
        <p>{{ company.getDescription }}</p>
        <h5>Listed at - {{ company.getCreated|date('l, F j, Y') }}</h5>
    </div>

    <div class="row col-sm-12">

        <h3>Comments:</h3>
        {% for comment in comments %}
            <div class="{{cycle(['odd', 'even'], loop.index0)}}">
                <span class="highlight">{{ comment.user }}</span> commented on <small><time datetime="{{ comment.created|date('c') }}">{{ comment.created|date('l, F j, Y') }}</time></small>

                <p>{{ comment.comment }}</p>
            </div>
        {% else %}
            <p>There are no comments for this post. Be the first to comment...</p>
        {% endfor %}
    </div>

    <div class="row">
        {{ render (controller('TonyMainBundle:Page:new', { 'id': company.id })) }}
    </div>
{% endblock %}